<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <meta charset="UTF-8">
    <title>LOTTO</title>
</head>
<body>
<div class="page-header">
    <h1 class="text-center">Lotto!</h1>
</div>
        <h4 class = "text-center">Wylosowane liczby to: </h4>

        <blockquote class="blockquote">
            <p th:text="${numbers}" class="text-center mb-0"></p>
        </blockquote>
        <a href="/" class = "center btn btn-success">Losuj</a>
<img class="center" th:src="@{/img/lotto.jpg}">

</body>
</html>